*{font-family: "Helvetica";}
#cerrar{
margin:1.5%;
width: 8%;
height: 10%;
float: right;
border: 1px solid #D8D8D8;
background-color: #ADC8F2;
border-radius: 5px;
box-shadow: 1px 2px 10px #222;
text-align: center;
}
#cerrar a{
text-decoration: none;   
}
#cerrar:hover{    
background-color: #5882FA;
}
#imgempresaa img{
    width: 100%;    
}

#admintable{
    width: 60%;
    float:left;    
}
#otros p, table td{
	width:30%;
	height:20% ;
	padding: 2px;
	background: #ADC8F2; 
	border-radius: 10px; 
	border: 0.1px solid #5882FA;
	text-align: center;
        margin-bottom: 2%;
}
#otros{
    margin: 0 auto;
    padding-left: 10%;
    padding-top: 3%;
    float: right;
    width: 30%;
    height: 50%;
    text-align: center;
    display:inline-block;
 
}

#otros .circulo1 {
    width: 120px;
    height: 120px;  
    margin: 1%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: #ADC8F2;
    display: block;
}
#otros .circulo2 {
    width: 120px;
    height: 120px;
    margin: 1%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: #ADC8F2;
    display: block;
    center: inherit;
}


#otros  a {
    text-decoration:none;
    float:left;
    width:100%;
    padding-top:50%;
    line-height:1em;
    margin-top:-0.5em;
    text-align:center;
    color:black;
    
    
}
table td{
	padding:15px;
	font-size: 20px;
        margin-bottom: 2%;
}
table th{
	padding:20px;
}
table th a{
	font-size:20px;
        color:black;
        text-decoration:none;
        
}
/* Tabla de busqueda de empresas */

#busemp{
    width: 90%;
    margin: 0 auto;    
}
#busemp table td{
	padding:7px;
        background-color: white;
        border: 2px solid #A4A4A4;
}
#busemp table th{
        width: 15%;
        font-size: 12px;
	padding:10px;
        background-color: #ADC8F2;    
}
/* Tabla de busqueda de demandantes */
#busdem{
    width: 35%;
    margin: 0 auto;
}
#busdem table td{
	padding:8px;
        background-color: white;
        border: 2px solid white;
}
#busdem table .title1{
    text-align: left;
}
input[type=submit]{color:#5B5A5A; background-color: #ADC8F2; font-size: 13pt; text-align: center; width: 20%; padding: 0.5%;}

/* Tabla de orientación laboral */

#admol{ 
    display: flex;
    justify-content: center;
    width: 90%;
    margin:75px;
 
}
#admol table td{
	padding:7px;
        background-color: white;
        border: 2px solid white;
}
#admol table th{
        font-size: 12px;
        background-color:#ADC8F2;    
}
#trabajosFormacion2{
        display: inline-block;
	margin: 2% 10%; 
	width: 20%;
}
#trabajosFormacion2 h3{
	text-align: center;
	font-weight: bold;
	color: gray;
}

 #botton{
    margin: auto;
    width: 30%;
    border: 3px solid #65A5F7;
    background-color: #ADC8F2;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}