*{
    font-family: "Helvetica";
}
#quiso, #contenido5{
    margin: 0 auto;
}
#quiso{
    background: #ADC8F2;
    width: 90%;
    font-size: 150%;
    text-align: center;
    margin-top: 2%;
}
#contenido5{
    background-color: #fafafa;
    text-align:justify;
    width: 90%;
    font-size: 115%;
    padding-top: 1%;
}
p, #lista, .list{
    width: 80%;
    margin: 0 auto;
}
